ul.activity-container
  max-width: 210px
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  max-height: 500px;

  li
    border-bottom: 1px solid #D7DBDD

    .title
      font-size: 15px
      line-height: 19px
      font-weight: bold
      display: block
      margin-bottom: 0px

    .date-time
      font-size: 11px
      opacity: 0.5
      background: #ffffff
      color: #000000