ul.form-messages
  height 20px
  list-style none
  margin-bottom 12px

ul.tag-pills
  padding 0

  li.tag-pill
    background #51394a
    display inline-block
    margin-right 6px
    margin-bottom 6px

    .action
      padding 0

    .btn-remove
      color white
      display inline-block
      padding 3px 6px
