ul.form-messages
  height 20px
  list-style none
  margin-bottom 12px

ul.tag-pills
  padding 0
  padding-top: 10px
  margin-top: 30px

  li.tag-pill
    padding: 8.5px
    border-radius: 4px
    background #7e5973
    display inline-block
    margin-right 6px
    margin-bottom 6px
    .label
      font-size: 90%

    .action
      padding 0

    .btn-remove
      color white
      display inline-block
      padding 3px 6px
