#user-profile-wrapper
  min-height: 100%

  .profile-container
    float: right

    h2,button
      display: inline-block
      margin-bottom: 10px


    h2,h3
      color: #4D4D4D

    h3
      font-family: "Helvetica Neue", Helvetica,Arial, sans-serif
      font-size: 14px

    img
      float: left
      border-radius: 4px;

    .name
      padding-left: 140px

    .tags-container
      ul.tag-pills
        .tag-pill
          .label
            display: inline-block
            height: 15px

@media screen and (max-width: 700px)
  #user-profile-wrapper
    .profile-container
      h2
        font-size: 20px;
        margin-top: 0;
      button
        padding: 10px

      img
        float: left
        width: 90px;

      .name
        padding-left: 100px

      .tags-container
        ul.tag-pills
          .tag-pill
            .label
              display: inline-block
              height: 15px