#user-profile-wrapper
  max-width: 650px
  min-height: 100%
  padding-top: 24px
  margin: 0 auto

  .profile-container
    float: right

    h2,button
      display: inline-block
      margin-bottom: 10px
    img
      float: left

    .name
      padding-left: 140px

    .tags-container
      ul.tag-pills
        .tag-pill
          .label
            display: inline-block
            height: 15px

  ul.activity-container
    max-width: 210px
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    li
      border-bottom: 1px solid #D7DBDD

      .title
        font-size: 15px
        line-height: 19px
        font-weight: bold
        display: block
        margin-bottom: 0px

      .date-time
        font-size: 11px
        opacity: 0.5
        background: #ffffff
        color: #000000