#user-profile-wrapper.hide

  a(href="https://gravatar.com", target="_blank")
    img(src=citizen.gravatar, width="120")

  .name
    h2 #{citizen.firstName} #{citizen.lastName}
    p #{citizen.email}