#user-profile-wrapper.hide

  a(href="https://gravatar.com", target="_blank")
    img(src=loadedCitizen.gravatar, width="120")

  .name
    h2 #{loadedCitizen.fullName}

  .clearfix

  .about-container
    h3 About
    p #{loadedCitizen.about}

  .tags-container
    h3 Tags
    ul.tag-pills
