nav.sidebar-nav
  #filter-container.dropdown-department

  #list-container

   #footer-container
    div.logos-container
      a.logo(href='http://dcentproject.eu/', target='_blank')
        img(src='/lib/sidebar/dcent-logo.png')
      a.logo(href='http://democraciaenred.org/', target='_blank')
        img(src='/lib/sidebar/dos-logo.svg')
